<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>请选择音频文件进行语音识别</p>
    <form action="api/speechRecognition" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" value="上传">
      </form>

    <p>请选择图片进行人脸识别</p>
    <form action="api/imageRecognition" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" multiple>
      <input type="submit" value="上传">
    </form>
</body>
</html>
